{% extends  '::base.html.twig' %}

{% block body %}
<h3>FAQ - Często zadawne pytania</h3>
<br />
   <ul> 
    {% for faq in faqs %}
            <li>{{ faq.tresc }}
            <p>{{faq.odpowiedz}}</p>
            </li>
    {% endfor %}
   </ul>
{% endblock %}