{% extends  '::base.html.twig' %}

{% block sidebartitle %}Login{% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Logowanie</a></li>
              <li><a href="{{ path('ZubiRegisterBundle_homepage') }}">Nowe Konto</a></li>
{% endblock %}


{% block body %}

<form action="{{ path('ZubiLoginBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}