{% extends  '::base.html.twig' %}


{% block sidebartitle %}Login{% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Logowanie</a></li>
              <li><a href="{{ path('ZubiUserBundle_register') }}">Nowe Konto</a></li>
{% endblock %}


{% block body %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('ZubiUserBundle_login_check') }}" method="post">	
    
    <label for="username">Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    <i class="icon-info-sign" id="info_username"></i>
    
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="_password" />
    <i class="icon-info-sign" id="info_password"></i>
<br>
    <button type="submit" class="btn-primary">Zaloguj</button>
</form>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $('#info_username').popover({title: "Użytkownik", content: "Podaj nazwę użytkownika"});
    $('#info_password').popover({title: "Hasło", content: "Podaj hasło użytkownika"});
   
</script>
{% endblock %}