{% extends  '::base.html.twig' %}


{% block sidebartitle %}Register{% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Nowe konto</a></li>
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Anuluj</a></li>
{% endblock %}


{% block body %}

<form action="{{ path('ZubiUserBundle_register') }}" method="post" novalidate="novalidate"{{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $('#form_email').popover({title: "tytul", content: "test"});
    </script>
{% endblock %}