{% extends  '::base.html.twig' %}


{% block sidebartitle %}Register{% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Nowe konto</a></li>
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Anuluj</a></li>
{% endblock %}


{% block body %}

<form action="{{ path('ZubiUserBundle_register') }}" method="post" novalidate="novalidate"{{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $('#form_email').popover({title: "E-mail", content: "Format: XXXX@XXXX.XX"});
    $('#form_haslo').popover({title: "Hasło", content: "Hasło powinno zawierać minimum 6 znaków"});
    $('#form_kraj').popover({title: "Kraj", content: "Kraj, w którym znajduje się stacja"});

</script>
{% endblock %}
