{% extends  '::base.html.twig' %}

{% block sidebartitle %}Register{% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Nowe konto</a></li>
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Anuluj</a></li>
{% endblock %}


{% block body %}

<form action="{{ path('ZubiRegisterBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}