{% extends  '::base.html.twig' %}

{% block sidebartitle %} Profil {% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Ty</a></li>  
              <li><a href="{{ path('ZubiProfileBundle_private') }}">Ustawienia prywatności</a></li>
              
{% endblock %}

{% block body %}
Profil
{% endblock %}