{% extends  '::base.html.twig' %}

{% block sidebartitle %} Profil {% endblock %}

{% block sidebaritems %}
              <li><a href="{{ path('ZubiProfileBundle_homepage') }}">Ty</a></li>  
              <li class="active"><a href="#">Ustawienia prywatności</a></li>
              
{% endblock %}

{% block body %}
<form action="{{ path('ZubiProfileBundle_private') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
 {% endblock %}